/* Soluzione qui */

@media screen and (min-width: 768px) {
    #topbar{
        justify-content: flex-start;
    }
   .presentation{
        padding: 30px;
   }
   .recipe-origin {
    display: inline-block;
   }
   .recipe-name{
    font-size: 30px;
   }
   .quick-notes ul li{
    display: inline-block;
    margin: 10px 15px;
   }
   .social-networks .btn{
    width: 120px;
   }
   .recipe-video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .ads{
    display: block;
   }
   .presentation img{
    float: left;
    margin-right: 15px;
   }
   header{
    font-family: 'Nerko One', cursive;
   }
   body footer{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
   }
}

@media screen and (min-width: 992px){
    .recipe-name{
        font-size: 40px;
        white-space: nowrap;
       }
       .recipe-video img{
        width: 100%;
        height: 100%;
       }
       .quick-notes ul li{
       display: block;
       margin-top: 15px;
       }
       .recipe-card{
        display: flex;
       }
       .social-networks .label {
        display: inline-block;
       }
       .social-networks .btn{
        width: 130px;
       }
       footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       }
       header{
        font-family: 'Nerko One', cursive;
       }
       body footer{
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
       }
}
      
